<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneSignalNotificationServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PeriodTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55743EC11F3B61CE003FF4EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B9BD311EF94ADE00F75794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55FD75A81F551F2A002CCC52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
