<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleLengthViewController</key>
	<string>[
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  },
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  }
]
</string>
	<key>dayLogViewController</key>
	<string>[
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  },
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  }
]
</string>
	<key>pregnantViewController</key>
	<string>[
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  },
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  }
]
</string>
	<key>periodLengthViewController</key>
	<string>[
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  },
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  }
]
</string>
	<key>cycleViewController</key>
	<string>[
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  },
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  }
]
</string>
	<key>lastPeriodViewController</key>
	<string>[
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  },
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  }
]
</string>
	<key>calendarViewController</key>
	<string>[
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  },
  {
    &quot;type&quot;: &quot;attribute_text&quot;,
    &quot;text&quot;: &quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.&quot;,
    &quot;attributes&quot;: [
      {
        &quot;key&quot;: &quot;font&quot;,
        &quot;value&quot;: &quot;IRANSansFaNum-Bold&quot;,
        &quot;range&quot;: &quot;14...40&quot;
      },
      {
        &quot;key&quot;: &quot;text_alignment&quot;,
        &quot;value&quot;: &quot;right&quot;
      },
      {
        &quot;key&quot;: &quot;text_color&quot;,
        &quot;value&quot;: &quot;C30F1B&quot;
      },
      {
        &quot;key&quot;: &quot;link&quot;,
        &quot;value&quot;: &quot;http://www.periodtracker.ir&quot;
      }
    ]
  }
]
</string>
</dict>
</plist>
